{% extends "base.html" %}
{% block titulo %}Paises{% endblock %}
{% block encabezado %}Paises del Mundo{% endblock %}
{% block nav %}
{% endblock %}
{% block contenido %}
       <h2>Colombia</h2>
        <ul>
            <li>Capital: Bogota</li>
            <li>Idioma: Español</li>
        </ul>

        <h2>Argentina</h2>
        <ul>
            <li>Capital: Buenos Aires</li>
            <li>Idioma: Español</li>
        </ul>

        <h2>Mexico</h2>
        <ul>
            <li>Capital: Ciudad de México</li>
            <li>Idioma: Español</li>
        </ul>
{% endblock %}